.carousel-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.carousel-wrapper {
    display: flex;
    width: 100%;
    position: relative;
}

.carousel-content-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.carousel-content {
    display: flex;
    transition: all 250ms linear;
    -ms-overflow-style: none;
    /* hide scrollbar in IE and Edge */
    scrollbar-width: none;
    /* hide scrollbar in Firefox */
}

/* hide scrollbar in webkit browser */

.carousel-content::-webkit-scrollbar,
.carousel-content::-webkit-scrollbar {
    display: none;
}

.carousel-content>* {
    width: 100%;
    flex-shrink: 0;
    flex-grow: 1;
}

.carousel-content.show-2>* {
    width: 50%;
}

.carousel-content.show-3>* {
    width: calc(100% / 3);
}

.carousel-content.show-4>* {
    width: calc(100% / 4);
}

.carousel-content.show-5>* {
    width: calc(100% / 5);
}

.carousel-content.show-6>* {
    width: calc(100% / 6);
}

.left-arrow-button,
.right-arrow-button {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: white;
    border: 1px solid #ddd;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
        rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    transition: all 150ms linear;
}

.left-arrow-button:hover,
.right-arrow-button:hover {
    background-color: #ddd;
}

.left-arrow-button:focus,
.right-arrow-button:focus {
    outline: none;
}

.left-arrow-button {
    left: 24px;
}

.right-arrow-button {
    right: 24px;
}

.left-arrow {
    display: block;
    width: 0;
    height: 0;
    border-top: 7.5px solid transparent;
    border-bottom: 7.5px solid transparent;
    border-right: 10px solid #484848;
    border-left: 5px solid transparent;
    transform: translateX(-25%);
}

.right-arrow {
    display: block;
    width: 0;
    height: 0;
    border-top: 7.5px solid transparent;
    border-bottom: 7.5px solid transparent;
    border-left: 10px solid #484848;
    border-right: 5px solid transparent;
    transform: translateX(25%);
}

@media (hover: none) and (pointer: coarse) {

    .left-arrow-button,
    .right-arrow-button {
        display: none;
    }
}

.indicator-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    -ms-overflow-style: none;
    /* hide scrollbar in IE and Edge */
    scrollbar-width: none;
    /* hide scrollbar in Firefox */
}

.indicator-container::-webkit-scrollbar,
.indicator-container::-webkit-scrollbar {
    display: none;
}

.indicator-container {
    overflow: auto;
}

.indicator-container>* {
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: linear;
}