@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply text-title;
    }

    sub {
        bottom: 0;
    }
}

@layer components {
    .caret {
        @apply w-2 h-2 border-r-2 border-t-2 border-primary transform rotate-45;
    }

    .caret-left {
        @apply caret;
        --tw-rotate: -135deg;
    }

    .link-with-caret:hover > .caret {
        @apply color-transition border-primary-dark;
    }

    .link-text {
        @apply text-sm font-black hover:text-primary poppins color-transition;
    }

    .image-hover {
        @apply opacity-transition hover:opacity-70;
    }

    .ads {
        @apply flex items-center justify-center text-2xl text-center text-ads font-bold mx-auto bg-placeholder border border-placeholder-dark;
    }
}

@layer utilities {
    .color-transition {
        @apply transition-colors duration-150 ease-linear;
    }
    
    .shadow-transition {
        @apply transition-shadow duration-150 ease-linear;
    }
    
    .opacity-transition {
        @apply transition-opacity duration-150 ease-linear;
    }
    
    .all-transition {
        @apply transition-all duration-150 ease-linear;
    }

    .fd-container {
        width: 100%;
        max-width: 1110px;
        margin-right: auto;
        margin-left: auto;
    }

    .footer-container {
        width: 100%;
        max-width: 1150px;
        margin-right: auto;
        margin-left: auto;
    }

    .poppins {
        font-family: Poppins, -apple-system, BlinkMacSystemFont, Roboto, Segoe UI, Oxygen,
            Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        /* hide scrollbar in IE and Edge */
        scrollbar-width: none;
        /* hide scrollbar in Firefox */
    }
    
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
}